In [4]:
 price = int(input("Enter the Price"))
if price>1000:
    print("I will not purchase")
    if price>5000:
        print("This is too much")
    elif price<2000:
        print("its ok")
        
elif price<1000:
    print("I will purchase")
else:
    print("not interested")
    print("I will not purchase")

Enter the Price1600
I will not purchase
its ok

In [8]:
l= [45,98,21,32,52,63,46]

In [9]:
l[2]+5

26

In [10]:
l1= []

In [11]:
l1.append(l[0]+5)

In [17]:
l2 = []
for i in l:
  print(i+1)
  l2.append(i+1)
l2

46
99
22
33
53
64
47

[46, 99, 22, 33, 53, 64, 47]

In [23]:
l3 = ["Sudqjnd","sodi","aman","sandhya"]

In [24]:
l4= []
for i in l3:
  print(i)
  l4.append(i.upper())

Sudqjnd
sodi
aman
sandhya

In [25]:
l4

['SUDQJND', 'SODI', 'AMAN', 'SANDHYA']

In [26]:
l4.append(44)

In [27]:
l4

['SUDQJND', 'SODI', 'AMAN', 'SANDHYA', 44]

In [30]:
l = [23,54,33,22,14,"Ayush","Lalu",51,96,75]
for i in l:
  print(i)

23
54
33
22
14
Ayush
Lalu
51
96
75

In [32]:
l1_num = []
l2_str = []
for i in l:
  if type(i)==int or type(i) == float:
    l1_num.append(i)
  else:
    l2_str.append(i)

In [33]:
l1_num

[23, 54, 33, 22, 14, 51, 96, 75]

In [34]:
l2_str

['Ayush', 'Lalu']